# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Media and uploads
media/

# Virtual Environment
.venv/
venv/
ENV/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
