{% extends "base.html" %}

{% block title %}Claimed Items{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4 text-primary font-weight-bold">Claimed Items</h1>
    <div class="row">
        {% for item in items %}
            {% include "item_card.html" %}
        {% empty %}
            <!-- Show if no items were claimed -->
            <div class="col-12 text-center my-5">
                <div class="card p-5 bg-light border-0 shadow-sm">
                    <h3 class="text-muted mb-3">No claimed items found.</h3>
                    <p class="text-secondary">Once lost items are recovered or found items are claimed by their owners, they will appear here!</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
