{% extends "base.html" %} {% block title %} Found Items {% endblock %}
{% block content %}
    
    <div class="container my-5">
        <h1 class="mb-4 text-primary font-weight-bold">Found Items</h1>
        <div class="row">
            {% for item in items %}
                {% include "item_card.html" %}
            {% empty %}
                <!-- Show if no found items are in database -->
                <div class="col-12 text-center my-5">
                    <div class="card p-5 bg-light border-0 shadow-sm">
                        <h3 class="text-muted mb-3">No found items reported yet.</h3>
                        <p class="text-secondary">If you found something on campus, use the "Report Item" link above to register it!</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}